/architecture
/resources
/misc
locallibrary/.env
locallibrary/.env.dev
locallibrary/.env.example
locallibrary/.env.test
locallibrary/.my_cms_dev
locallibrary/.my_pgpass
locallibrary/.my_pgpass_dev
locallibrary/.pg_service.conf
locallibrary/.pg_service.conf_dev
locallibrary/init_scripts
/locallibrary/catalog/backup_tests.py
/locallibrary/catalog/migrations
/locallibrary/catalog/__pycache__
/locallibrary/catalog/static
/locallibrary/catalog/tests
/init_scripts
/locallibrary/db.sqlite3