{% extends "base_generic.html" %}

{% block content %}
  <h1>Hong's Local Library Home</h1>
  <p>
    Welcome to LocalLibrary, a website developed by
    <em>A man who want to extends his skill with Python and Django framework!</em>!
  </p>
  <h2>Dynamic content</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Genres:</strong> {{ genres }}</li>
  </ul>

  <p>
    You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>
{% endblock %}